.centered-axis-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.text-align\:center {text-align: center;}
.color\:\#DF4577 {color: #DF4577;}
.font-size\:120px {font-size: 120px;}
.padding\:0px {padding: 0px;}
.color\:white {color: white;}
.font-size\:30px\; {font-size: 30px;;}
.padding\:0px_20px {padding: 0px 20px;}
.border\:1px_solid_white {border: 1px solid white;}
.border-radius\:5px {border-radius: 5px;}
.margin-bottom\:30px {margin-bottom: 30px;}
.max-width\:700px {max-width: 700px;}
.margin\:40px_auto\; {margin: 40px auto;;}
.color\:\#31AE84 {color: #31AE84;}
.font-size\:20px {font-size: 20px;}
.text-decoration\:none {text-decoration: none;}
.padding\:10px_20px\; {padding: 10px 20px;;}
.background-color\:\#DF4577 {background-color: #DF4577;}
.display\:block {display: block;}
.width\:150px {width: 150px;}
.margin\:auto {margin: auto;}
